body{
	font-family:arial;
}
img.tiny{
    width: 20px;
    border: solid thin grey;	
}
img.big {
    width: 200px;
    border: solid thin grey;
    position: absolute;
    right: 30ex;
    left: 42ex;
    top: 4ex;

}

ul#sort a:link{
    background-color: #92a8d1;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    list-style-type: none;
}

}

ul#sort a:hover{
    background-color: green;
}

.properties div div{
	display:inline-block;
}
.properties div div:first-child{
	width:20ex;
}
.properties div div:last-child{
	font-weight: bold;
}
a{
	text-decoration: none;
}

.nav_button{
    border: 1px solid black;
    padding: 1ex;
    width: 8ex;
    text-align: center;

}
.nav_button:hover{
background-color: green;

    }
.edit-button{
    border: 1px solid black;
    padding: 1ex;
    width: 8ex;
    text-align: center;
    display: inline-block;
}
.edit-button:hover{
    background-color: green;
}
.button{
    border: 1px solid black;
    padding: 1ex;
    width: 8ex;
    text-align: center;
   

    }
    
.button:hover{
background-color: green;
}