<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
	<div align="center">
	   <form action='/updatecountrybyname'>
		<h1>{{c['name']}}</h1>
		<div class='properties'>
			<div>
				<div>Capital</div>
				<div><input name='name' value={{c['name']}} type="hidden"></div>
			</div>
			<div>
				<div>Capital</div>
				<div><input name='capital' value={{c['capital']}}></div>
			</div>
			<div>
				<div>Continent</div>
				<div><input name='continent' value={{c['continent']}}></div>
			</div>
			<div>
				<div>Population</div>
				<div><input name='population' value={{c['population']}}></div> 
			</div>
			<div>
				<div>Area</div>
				<div><input name='area' value={{c['area']}}></div>
			</div>
			<div>
				<div>GDP (million $)</div>
				<div><input name='gdp' value={{c['gdp']}}></div>
			</div>
			<div>
				<div>TLD</div>
				<div><input name='tld' value={{c['tld']}}></div>
		</div>
		<br>

		    <img src="/static/flags/{{c['tld']}}.gif" class='big'>
		    <input type='submit'>
		</form>
		<button><a href='/delete/{{c.name}}'> Delete</a> </button>
	</div>
	</body>
</html>