<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body background="/static/image/backgroung.jpg" >
		<h1>World Factbook</h1>
		<div><i>There are {{w|length}} countries in this page</i></div>
		<ul>
			{% for c in w %}
			<li><a href='/countryByName/{{c.name}}'>
				<img src='/static/flags/{{c["tld"]}}.gif' class='tiny'>
			 {{c.name}}</a></li>
			{% endfor %}
		</ul>
			<a href='/begin/{{page_number-page_size}}' class='button'>Previous Page</a>
			<a href='/begin/{{page_number+page_size}}' class='button'>Next Page</a>
		 	<a href='/createcountrybyname' class='button'> create </a> 
	</body>
</html>